@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

:root {
  --bg-clr: #E8E0AF;
  --card-clr: #B2B894;
  --inactive-tab-clr: #9ca182;
  --card-radius: 1rem;
  --submit-btn-base: #C67B39;
  --white-clr: aliceblue;
  --text-highlight-color: slateblue;
}

html {
  font-size: 16px;
}

html, body {
  min-height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-clr);
}

#root {
  margin-top: 20vh;
  width: min(500px, 90vw);
}

.form-toggle-tabs {
  height: 70px;
  list-style: none;
  display: flex;
}

.form-toggle-tabs li {
  position: relative;
  background-color: var(--inactive-tab-clr);
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  top: 35px;
  z-index: 0;
  flex: 1;
  transition: all ease 250ms;
}

.form-toggle-tabs li:hover {
  top: 30px;
}

.form-toggle-tabs li.active {
  background-color: var(--card-clr);
  top: 30px;
}

.form-toggle-tabs button {
  cursor: pointer;
  padding: .5rem 1.5rem;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: start;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
}

.auth-form-wrapper {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background-color: var(--card-clr);
  border-radius: var(--card-radius);
}

.login-form, .register-form {
  display: grid;
  gap: 0 .5rem;
}

.input-label-group label {
  display: block;
  font-weight: 500;
  padding-left: 4px;
}

.input-label-group input {
  width: 100%;
  padding: .25rem .5rem;
  border-radius: .5rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
  background-color: var(--white-clr);
}

.input-label-group .input-error {
  padding-left: 1rem;
  font-family: monospace;
  font-weight: 700;
  color: maroon;
}

.submit-btn {
  cursor: pointer;
  justify-self: right;
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--submit-btn-base);
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-clr);
  grid-area: btn;
  transition: all ease 100ms;
}

.submit-btn:hover {
  transform: scale(1.05);
}

.submit-btn:active {
  transform: scale(.95);
}

.login-form {
  grid-template-areas:
    "usr"
    "pwd"
    "btn";
}

.login-form__username {
  grid-area: usr;
}

.login-form__password {
  grid-area: pwd;
}

.register-form {
  grid-template-areas: 
    "hed hed"
    "fst lst"
    "usr usr"
    "pw1 pw1"
    "pw2 pw2"
    "btn btn";
}

.register-form__heading {
  grid-area: hed;
  color: #456;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  text-decoration-color: var(--submit-btn-base);
  padding-bottom: 4px;
}

.register-form__firstName {
  grid-area: fst;
}

.register-form__lastName {
  grid-area: lst;
}

.register-form__username {
  grid-area: usr;
}

.register-form__password {
  grid-area: pw1;
}

.register-form__confirm-password {
  grid-area: pw2;
}

.user-info-card {
  margin-top: 1.5rem;
  padding: .75rem;
  background-color: var(--card-clr);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.user-info-card .info-group {
  padding: .25rem .5rem;
  background-color: aliceblue;
  border-radius: .5rem;
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.user-info-card code {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text-highlight-color);
  overflow-wrap: anywhere;
}

.logout-btn {
  cursor: pointer;
  padding: .25rem .5rem;
  margin-top: .5rem;
  margin-right: .5rem;
  float: right;
  border: none;
  border-radius: .5rem;
  background-color: var(--submit-btn-base);
  font-weight: 600;
  color: var(--white-clr);
  transition: all ease 100ms;
}

.logout-btn:hover {
  transform: scale(1.05);
}

.logout-btn:active {
  transform: scale(.95);
}